APP_NAME=Maquiladora
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=maquiladora_db
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=cambiar_en_produccion
JWT_TTL=1440

FRONTEND_URL=http://localhost:5173
